@keyframes shake {
  0% {
    transform: scale(1.75); }
  4% {
    transform: rotateZ(10deg) scale(1.75); }
  8% {
    transform: rotateZ(-10deg) scale(1.75); }
  12% {
    transform: rotateZ(10deg) scale(1.75); }
  16% {
    transform: rotateZ(-10deg) scale(1.75); }
  20% {
    transform: rotateZ(0deg) scale(1.75); }
  100% {
    transform: scale(1.75); } }
body {
  font-size: 20px !important;
  color: #4c7a91;
  font-family: "Josefin Sans" !important;
  overflow-x: hidden; }
  body h1,
  body h2,
  body h3 {
    font-family: "Rock Salt";
    font-weight: 500; }
    @media screen and (max-width: 992px) {
      body h1,
      body h2,
      body h3 {
        font-size: 2rem !important;
        max-width: 100%;
        text-align: center; } }
  @media screen and (max-width: 992px) {
    body h4 {
      font-size: 1.5rem !important; } }
  body a {
    text-decoration: none !important; }
  body button:focus {
    outline: none; }

.navbar {
  height: 15vh; }
  @media screen and (max-width: 768px) {
    .navbar {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 0 !important;
      margin-bottom: 10vh !important;
      min-width: 100vw !important; } }
  @media screen and (min-width: 768px) {
    .navbar {
      justify-content: flex-end !important; } }
  @media screen and (max-width: 992px) {
    .navbar {
      margin-right: 5%;
      text-align: center;
      z-index: 1; } }
  @media screen and (min-width: 1200px) {
    .navbar {
      margin-right: 4%; } }
  .navbar .navbar-nav {
    margin-right: 11vw; }
    @media screen and (orientation: portrait) {
      .navbar .navbar-nav {
        margin-left: 0 !important;
        margin-right: 0 !important; } }
    @media screen and (max-width: 768px) {
      .navbar .navbar-nav {
        display: flex;
        justify-content: center;
        min-width: 100%; } }
    .navbar .navbar-nav a {
      color: #4c7a91;
      border-top: solid transparent 1px;
      transition: border-top, margin-bottom ease-in-out;
      transition-duration: 0.2s; }
      .navbar .navbar-nav a:hover {
        cursor: pointer;
        border-top: solid #4c7a91 3px;
        margin-bottom: -5px; }
    @media screen and (max-width: 992px) {
      .navbar .navbar-nav .nav-item {
        margin: 0 !important; } }
  .navbar i {
    color: #4c7a91; }
  .navbar .navbar-collapse {
    flex-grow: 0; }
    @media screen and (max-width: 557px) {
      .navbar .navbar-collapse {
        background: white; } }

.svg {
  margin-top: -1px;
  width: 100vw; }

.svg-top {
  margin-bottom: -1px;
  width: 100vw; }

#landing {
  height: 100vh;
  min-width: 100vw; }
  @media screen and (max-width: 992px) {
    #landing {
      height: 100vh;
      margin-bottom: 5vh !important; } }
  #landing .landing-content {
    height: 75%; }
    @media screen and (max-width: 557px) {
      #landing .landing-content {
        height: auto; } }
    #landing .landing-content .profile-pic {
      max-height: 40vh;
      margin-top: -5vh; }
      @media screen and (max-width: 992px) {
        #landing .landing-content .profile-pic {
          margin-bottom: 5vh; } }
    #landing .landing-content .landing-titles {
      max-width: 50vw; }
      @media screen and (max-width: 557px) {
        #landing .landing-content .landing-titles {
          max-width: 100vh !important; } }
      @media screen and (max-width: 992px) {
        #landing .landing-content .landing-titles .txt-type {
          font-size: 1.25rem !important;
          letter-spacing: 0.01rem; } }
      #landing .landing-content .landing-titles .landing-titles-name {
        font-size: 3rem; }
      #landing .landing-content .landing-titles .landing-titles-github {
        color: #4c7a91; }
        @media screen and (max-width: 557px) {
          #landing .landing-content .landing-titles .landing-titles-github {
            display: none; } }

#about {
  background-color: #4c7a91;
  color: white;
  min-height: 100vh;
  min-width: 100vw; }
  @media screen and (max-width: 992px) {
    #about {
      height: auto; } }
  #about #about-title {
    margin-bottom: 15vh; }
  #about .about-top-row {
    opacity: 0;
    transition: all 1s ease-in-out; }
    #about .about-top-row .intro {
      font-size: 2.25rem; }
      @media screen and (max-width: 992px) {
        #about .about-top-row .intro {
          font-size: 1.5rem;
          width: 100% !important; } }
    @media screen and (max-width: 992px) {
      #about .about-top-row .intro-2 {
        display: none; } }
  #about .about-bottom-row {
    opacity: 0;
    transition: all 1s ease-in-out; }
  #about .about-top-row.reveal {
    opacity: 1; }
  #about .about-bottom-row.reveal {
    opacity: 1; }
  #about .row {
    margin-top: 15vh; }
  #about img {
    height: 40vh; }
    @media screen and (max-width: 992px) {
      #about img {
        margin: 2rem 0; } }

#skills {
  color: #4c7a91;
  min-height: 100vh;
  min-width: 100vw; }
  #skills .content {
    margin-top: 5vh; }
    #skills .content .image-set {
      min-height: calc(30vh + 12rem); }
      #skills .content .image-set .animating-logo {
        cursor: pointer;
        height: 15vh;
        opacity: 0;
        transition: all 1s ease-in-out; }
        @media screen and (max-width: 992px) {
          #skills .content .image-set .animating-logo {
            height: 7.5vh !important;
            margin: 2vh 2vw !important; } }
      #skills .content .image-set .animating-logo.reveal {
        opacity: 1; }
    #skills .content .image-text-set {
      margin: 2em 0; }
      @media screen and (max-width: 992px) {
        #skills .content .image-text-set p {
          font-size: 1rem !important; } }
      #skills .content .image-text-set .active-text {
        display: inherit; }
      #skills .content .image-text-set .group {
        display: none; }

#projects {
  background-color: #4c7a91;
  color: white;
  min-width: 100vw; }
  #projects .card {
    background: none;
    border: none;
    padding: 0 5vw; }
    @media screen and (max-width: 557px) {
      #projects .card {
        width: 100% !important; } }
    @media screen and (max-width: 992px) {
      #projects .card {
        width: 90vw; } }
    @media screen and (max-width: 557px) {
      #projects .card .card-body {
        padding-right: 0 !important;
        padding-left: 0 !important; } }
    #projects .card .card-body video {
      cursor: pointer;
      width: 100% !important; }
    #projects .card .card-body p {
      font-size: 0.75rem;
      opacity: 0.8; }
    #projects .card .card-body a {
      background: none;
      border: 2px solid white;
      color: white;
      font-size: 0.9em;
      padding: 0.25rem 0.5rem;
      transition: all 0.25s ease; }
    #projects .card .card-body a:hover {
      background: white;
      color: #4c7a91; }

#contact {
  color: #4c7a91;
  min-height: 100vh;
  min-width: 100vw; }
  @media screen and (max-width: 992px) {
    #contact .follow-title {
      display: none; } }
  @media screen and (max-width: 992px) {
    #contact .icon-group {
      padding-top: 2em; } }
  #contact .icon-group .submit-btn:hover {
    opacity: 0.75; }
  #contact .icon-group .fab {
    opacity: 0.9;
    color: #4c7a91; }
  #contact .submit-btn {
    color: white;
    background-color: #4c7a91;
    transition: all 0.25s ease-in-out; }
  #contact .fab:hover {
    opacity: 1;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
