body {
  font-size: 20px !important;
  color: #4c7a91;
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden; }
  body h1, body h2, body h3 {
    font-family: "Rock Salt", cursive;
    font-weight: 500; }
  body a {
    text-decoration: none !important; }
  body button:focus {
    outline: none; }

#landing {
  height: 100vh; }
  #landing .navbar {
    height: 15vh; }
    #landing .navbar .navbar-nav {
      margin-right: 11vw; }
      #landing .navbar .navbar-nav a {
        color: #4c7a91;
        border-top: solid transparent 1px;
        transition: border-top, margin-bottom ease-in-out;
        transition-duration: 0.2s; }
      #landing .navbar .navbar-nav a:hover {
        cursor: pointer;
        border-top: solid #4c7a91 3px;
        margin-bottom: -5px; }
    #landing .navbar i {
      color: #4c7a91; }
  #landing .landing-content {
    height: 75%; }
    #landing .landing-content img {
      height: 40vh;
      margin-top: -5vh; }
    #landing .landing-content .landing-titles {
      max-width: 50vw; }
      #landing .landing-content .landing-titles h2 {
        font-size: 3rem; }

#about {
  background-color: #4c7a91;
  color: #fff;
  height: 100vh; }
  #about #about-title {
    margin-bottom: 15vh; }
  #about .intro {
    font-size: 2.25rem; }
  #about .row {
    margin-top: 15vh; }
  #about img {
    height: 40vh; }

#skills {
  color: #4c7a91; }
  #skills .content {
    margin-top: 5vh; }
    #skills .content .image-set img {
      cursor: pointer;
      height: 15vh;
      transition: all 0.25s ease-in-out; }
    #skills .content .image-set .active {
      transform: scale(1.75); }
    #skills .content .image-text-set {
      margin: 2em 0; }
      #skills .content .image-text-set .active-text {
        display: inherit; }
      #skills .content .image-text-set .group {
        display: none; }

#projects {
  background-color: #4c7a91;
  color: #fff; }
  #projects .card {
    background: transparent;
    border: transparent;
    width: 50vw; }
    #projects .card video {
      cursor: pointer;
      width: 100%; }
    #projects .card p {
      font-size: 0.75rem;
      opacity: 0.8; }
    #projects .card a {
      background: none;
      border: 2px solid #fff;
      color: #fff;
      padding: 0.5em 1em;
      transition: all 0.25s ease; }
    #projects .card a:hover {
      background: #fff;
      color: #4c7a91; }

#contact {
  color: #4c7a91; }
  #contact .submit-btn {
    color: #fff;
    background-color: #4c7a91;
    transition: all 0.25s ease-in-out; }
  #contact .submit-btn:hover {
    opacity: 0.75; }
  #contact .fab {
    opacity: 0.9;
    color: #4c7a91; }
  #contact .fab:hover {
    opacity: 1;
    cursor: pointer; }

.svg {
  margin-top: -1vh; }

.svg-top {
  width: 105vw;
  margin-bottom: -1vh;
  margin-left: -1vw; }

@media screen and (max-width: 992px) {
  h1, h2, h3 {
    font-size: 2rem !important;
    max-width: 100%;
    text-align: center; }

  h4 {
    font-size: 1.5rem !important; }

  #landing {
    height: 100vh;
    margin-bottom: 5vh !important; }
    #landing .navbar {
      margin-bottom: 10vh !important;
      text-align: center;
      z-index: 1; }
      #landing .navbar .nav-item {
        margin: 0 !important; }
    #landing .landing-content {
      margin-top: 10vh; }
      #landing .landing-content .txt-type {
        font-size: 1.25rem !important;
        letter-spacing: 0.01rem; }
      #landing .landing-content img {
        margin-bottom: 5vh; }

  #about {
    height: auto; }
    #about .intro {
      font-size: 1.5rem;
      width: 100% !important; }
    #about img {
      margin: 2rem 0; }
    #about .intro-2 {
      display: none; }

  #skills img {
    height: 7.5vh;
    margin: 2vh 2vw !important; }
  #skills .active {
    transform: scale(1.25) !important; }
  #skills p {
    font-size: 1rem !important; }

  #projects .card {
    width: 90vw; }

  #contact .follow-title {
    display: none; }
  #contact .icon-group {
    padding-top: 2em; } }
@media screen and (max-width: 557px) {
  #landing {
    height: auto; }
    #landing .navbar-collapse {
      background: #fff;
      height: 50vh;
      margin-right: -10vh !important;
      width: 100vw; } }
body {
  font-size: 20px !important;
  color: #4c7a91;
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden; }
  body h1, body h2, body h3 {
    font-family: "Rock Salt", cursive;
    font-weight: 500; }
  body a {
    text-decoration: none !important; }
  body button:focus {
    outline: none; }

#landing {
  height: 100vh; }
  #landing .navbar {
    height: 15vh; }
    #landing .navbar .navbar-nav {
      margin-right: 11vw; }
      #landing .navbar .navbar-nav a {
        color: #4c7a91;
        border-top: solid transparent 1px;
        transition: border-top, margin-bottom ease-in-out;
        transition-duration: 0.2s; }
      #landing .navbar .navbar-nav a:hover {
        cursor: pointer;
        border-top: solid #4c7a91 3px;
        margin-bottom: -5px; }
    #landing .navbar i {
      color: #4c7a91; }
  #landing .landing-content {
    height: 75%; }
    #landing .landing-content img {
      height: 40vh;
      margin-top: -5vh; }
    #landing .landing-content .landing-titles {
      max-width: 50vw; }
      #landing .landing-content .landing-titles h2 {
        font-size: 3rem; }

#about {
  background-color: #4c7a91;
  color: #fff;
  height: 100vh; }
  #about #about-title {
    margin-bottom: 15vh; }
  #about .intro {
    font-size: 2.25rem; }
  #about .row {
    margin-top: 15vh; }
  #about img {
    height: 40vh; }

#skills {
  color: #4c7a91; }
  #skills .content {
    margin-top: 5vh; }
    #skills .content .image-set img {
      cursor: pointer;
      height: 15vh;
      transition: all 0.25s ease-in-out; }
    #skills .content .image-set .active {
      transform: scale(1.75); }
    #skills .content .image-text-set {
      margin: 2em 0; }
      #skills .content .image-text-set .active-text {
        display: inherit; }
      #skills .content .image-text-set .group {
        display: none; }

#projects {
  background-color: #4c7a91;
  color: #fff; }
  #projects .card {
    background: transparent;
    border: transparent;
    width: 50vw; }
    #projects .card video {
      cursor: pointer;
      width: 100%; }
    #projects .card p {
      font-size: 0.75rem;
      opacity: 0.8; }
    #projects .card a {
      background: none;
      border: 2px solid #fff;
      color: #fff;
      padding: 0.5em 1em;
      transition: all 0.25s ease; }
    #projects .card a:hover {
      background: #fff;
      color: #4c7a91; }

#contact {
  color: #4c7a91; }
  #contact .submit-btn {
    color: #fff;
    background-color: #4c7a91;
    transition: all 0.25s ease-in-out; }
  #contact .submit-btn:hover {
    opacity: 0.75; }
  #contact .fab {
    opacity: 0.9;
    color: #4c7a91; }
  #contact .fab:hover {
    opacity: 1;
    cursor: pointer; }

.svg {
  margin-top: -1vh; }

.svg-top {
  width: 105vw;
  margin-bottom: -1vh;
  margin-left: -1vw; }

@media screen and (max-width: 992px) {
  h1, h2, h3 {
    font-size: 2rem !important;
    max-width: 100%;
    text-align: center; }

  h4 {
    font-size: 1.5rem !important; }

  #landing {
    height: 100vh;
    margin-bottom: 5vh !important; }
    #landing .navbar {
      margin-bottom: 10vh !important;
      text-align: center;
      z-index: 1; }
      #landing .navbar .nav-item {
        margin: 0 !important; }
    #landing .landing-content {
      margin-top: 10vh; }
      #landing .landing-content .txt-type {
        font-size: 1.25rem !important;
        letter-spacing: 0.01rem; }
      #landing .landing-content img {
        margin-bottom: 5vh; }

  #about {
    height: auto; }
    #about .intro {
      font-size: 1.5rem;
      width: 100% !important; }
    #about img {
      margin: 2rem 0; }
    #about .intro-2 {
      display: none; }

  #skills img {
    height: 7.5vh;
    margin: 2vh 2vw !important; }
  #skills .active {
    transform: scale(1.25) !important; }
  #skills p {
    font-size: 1rem !important; }

  #projects .card {
    width: 90vw; }

  #contact .follow-title {
    display: none; }
  #contact .icon-group {
    padding-top: 2em; } }
@media screen and (max-width: 557px) {
  #landing {
    height: auto; }
    #landing .navbar-collapse {
      background: #fff;
      height: 50vh;
      margin-right: -10vh !important;
      width: 100vw; } }

/*# sourceMappingURL=style.css.map */
