// variables
$royal-blue: rgb(76, 122, 145);
$main-white: rgb(255,255,255);
$trendy-font: 'Rock Salt', cursive;
$regular-font: 'Josefin Sans', sans-serif;

// blue section mixin
@mixin blue-section($royal-blue){
    background-color: $royal-blue;
    color: $main-white;
}

// body and utility classes
body{
    font-size: 20px !important;
    color: rgb(76, 122, 145);
    font-family: $regular-font !important;
    overflow-x: hidden;

    // utility classes
    h1, h2, h3{
        font-family: $trendy-font;
        font-weight: 500;
    }

    a{
        text-decoration: none !important;
    }

    button:focus{
        outline: none;
    }
}

// home section
#landing{
    height: 100vh;

    // navigation bar styling
    .navbar{
        height: 15vh;

        .navbar-nav{    
            margin-right: 11vw;

            a{
                color: rgb(76, 122, 145);
                border-top: solid transparent 1px;
                transition: border-top, margin-bottom ease-in-out;
                transition-duration: 0.2s;
            }
            
            a:hover{
                cursor: pointer;
                border-top: solid rgb(76, 122, 145) 3px;
                margin-bottom: -5px;
            }
        }

        i{
            color: $royal-blue;
        }
    }

    .landing-content{
        height: 75%;

        img{
            height: 40vh;
            margin-top: -5vh;
        }
    
        .landing-titles{
            max-width: 50vw;

            h2{
                font-size: 3rem;
            }
        }
    }
}

// about section
#about{
    @include blue-section($royal-blue);
    min-height: 100vh;

    #about-title{
        margin-bottom: 15vh;
    }

    .intro{
        font-size: 2.25rem;
    }

    .row{
        margin-top: 15vh;
    }

    img{
        height: 40vh;
    }
}

// skills section
#skills{
    color: ($royal-blue);
    min-height: 100vh;

    .content{
        margin-top: 5vh;

        .image-set{
            img{
                cursor: pointer;
                height: 15vh;
                transition: all 0.25s ease-in-out;
            }

            .active{
                transform: scale(1.75);
            }
        }

        .image-text-set{
            margin: 2em 0;

            .active-text{
                display: inherit;
            }

            .group{
                display: none;
            }
        }
    }
}

// projects section
#projects{
    @include blue-section($royal-blue);

    .card{
        background: none;
        border: none;

        video{
            cursor: pointer;
            width: 100%!important;
        }

        p{
            font-size: 0.75rem;
            opacity: 0.8;
        }

        a{
            background: none;
            border: 2px solid $main-white;
            color: $main-white;
            padding: 0.5em 1em;
            transition: all 0.25s ease;
        }

        a:hover{
            background: $main-white;
            color: $royal-blue;
        }
    }
}

// contact section
#contact{
    color: ($royal-blue);
    min-height: 100vh;

    // submit button
    .submit-btn{
        color: $main-white;
        background-color: $royal-blue;
        transition: all 0.25s ease-in-out;
    }

    .submit-btn:hover{
        opacity: 0.75;
    }

    // social media icons
    .fab{
        opacity: 0.9;
        color: rgb(76, 122, 145);
    }
    
    .fab:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.svg{
    margin-top: -1vh;
}

.svg-top{
    width: 105vw;
    margin-bottom: -1vh;
    margin-left: -1vw;
}


@media screen and (max-width: 992px){
    h1, h2, h3{
        font-size: 2rem !important;
        max-width: 100%;
        text-align: center;
    }

    h4{
        font-size: 1.5rem !important;
    }

    #landing{
        height: 100vh;
        margin-bottom: 5vh!important;

        .navbar{
            margin-bottom: 10vh !important;
            text-align: center;
            z-index: 1;

            .nav-item{
                margin: 0 !important;
            }
        }

        .landing-content{
            margin-top: 10vh;
    
            .txt-type{
                font-size: 1.25rem!important;
                letter-spacing: 0.01rem;
            }
    
            img{
                margin-bottom: 5vh;
            }
        }
    }

    #about{
        height:auto;

        .intro{
            font-size: 1.5rem;
            width: 100% !important;
        }

        img{
            margin: 2rem 0;
        }

        .intro-2{
            display: none;
        }
    }
   
    #skills{
        img{
            height: 7.5vh;
            margin: 2vh 2vw !important;
        }

        .active{
            transform: scale(1.25)!important;
        }

        p{
            font-size: 1rem !important;
        }
    }

    #projects{
        .card{
            width: 90vw;
        }
    }

    #contact{
        .follow-title{
            display: none;
        }
    
        .icon-group{
            padding-top: 2em;
        }
    }
}

@media screen and (max-width: 557px){
    #landing{
        height: auto;

        .navbar-collapse{
            background: $main-white;
            height: 50vh;
            margin-right: -10vh !important;
            width: 100vw;
        }
    }
    
}