// about section
#about {
  @include blue-section($theme-blue);
  min-height: 100vh;
  min-width: 100vw;

  @media screen and (max-width: 992px) {
    height: auto;
  }

  #about-title {
    margin-bottom: 15vh;
  }

  .about-top-row {
    opacity: 0;
    transition: all 1s ease-in-out;

    .intro {
      font-size: 2.25rem;

      @media screen and (max-width: 992px) {
        font-size: 1.5rem;
        width: 100% !important;
      }
    }

    .intro-2 {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  .about-bottom-row {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .about-top-row.reveal {
    opacity: 1;
  }

  .about-bottom-row.reveal {
    opacity: 1;
  }

  .row {
    margin-top: 15vh;
  }

  img {
    height: 40vh;

    @media screen and (max-width: 992px) {
      margin: 2rem 0;
    }
  }
}
