// skills section
#skills {
  color: ($theme-blue);
  min-height: 100vh;
  min-width: 100vw;

  .content {
    margin-top: 5vh;

    .image-set {
      min-height: calc(30vh + 12rem);

      .animating-logo {
        cursor: pointer;
        height: 15vh;
        opacity: 0;
        transition: all 1s ease-in-out;

        @media screen and (max-width: 992px) {
          height: 7.5vh !important;
          margin: 2vh 2vw !important;
        }
      }

      .animating-logo.reveal {
        opacity: 1;
      }
    }

    .image-text-set {
      margin: 2em 0;

      p {
        @media screen and (max-width: 992px) {
          font-size: 1rem !important;
        }
      }

      .active-text {
        display: inherit;
      }

      .group {
        display: none;
      }
    }
  }
}
