.navbar {
  height: 15vh;

  @media screen and (max-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
    margin-bottom: 10vh !important;
    min-width: 100vw !important;
  }

  @media screen and (min-width: 768px) {
    justify-content: flex-end !important;
  }

  @media screen and (max-width: 992px) {
    margin-right: 5%;
    text-align: center;
    z-index: 1;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 4%;
  }

  .navbar-nav {
    margin-right: 11vw;

    @media screen and (orientation: portrait) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      min-width: 100%;
    }

    a {
      color: $theme-blue;
      border-top: solid transparent 1px;
      transition: border-top, margin-bottom ease-in-out;
      transition-duration: 0.2s;

      &:hover {
        cursor: pointer;
        border-top: solid $theme-blue 3px;
        margin-bottom: -5px;
      }
    }

    .nav-item {
      @media screen and (max-width: 992px) {
        margin: 0 !important;
      }
    }
  }

  i {
    color: $theme-blue;
  }

  .navbar-collapse {
    flex-grow: 0;

    @media screen and (max-width: 557px) {
      background: $theme-white;
    }
  }
}
